<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <meta name="description" content="<%=description%>">
    <meta name="author" content="<%=author%>">
    <!-- styles -->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <ul>
            <li><a href="http://localhost:8000">Home</a></li>
            <li><a href="http://localhost:8000/byebye">Byebye</a></li>
            <li><a href="http://localhost:8000/test_param/">Chair</a></li>
            <li><a href=" http://localhost:8000/form_post.html">form_post</a></li>
            <li><a href="http://localhost:8000/products">Products</a></li>
            <li><a href="http://localhost:8000/seasons">Seasons</a></li>
        </ul>

    </header>

    <div>
        <pre style="background-color: white;border: whitesmoke">

        </pre>
    </div>

    <p>Below is dynamic content - different from page to page</p>
    <div class="content">
        <%- content %>
    </div>
    <footer>This is the footer - same for all pages</footer>
</body>

</html>